@charset "utf-8";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.red--box {
  width: 400px;
  height: 100px;
  position: relative;
  background: #ff0000
}

.white--box {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #ffffff;
  padding: 10px;
}

.box1 {
  width: 40px;
  height: 40px;
  background: #a9004b;
  float: left;
  margin-right: 10px;
}

.box1:last-of-type{
  margin-right: 0px;
}

.green--box {
  width: 150px;
  height: 250px;
  background-color: #00ff51;
  float: left;
}

.brown--box {
  width: 250px;
  height: 250px;
  background-color: #8c2727;
  float: left;
  position: relative;
}

.blank--box{
  top: 40px;
  left: 40px;
  position: absolute;
}

.orange--box {
  background: #ff863f;
  border: 5px solid #ffffff;
  width: 140px;
  height: 40px;
  margin-top: 10px;
}

.orange--box:first-child{
  margin-top: 0px;
}

.yellow--box {
  width: 400px;
  height: 100px;
  background-color: #ffd000;
}